<html lang="en">

<head>
  <meta charset="utf-8" />
  <script src="https://cesiumjs.org/releases/1.59/Build/Cesium/Cesium.js"></script>
  <link href="https://cesiumjs.org/releases/1.59/Build/Cesium/Widgets/widgets.css" rel="stylesheet" />
  <style>
    html,
    body,
    cesiumContainer {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .cesium-widget-credits {
      display: none !important;
      visibility: hidden !important;
    }

    .footer {
      left: 0px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      z-index: 991;
      padding: 3px 10px;
      font-size: 13px;
      color: #e9e9e9;
      text-shadow: 2px 2px 2px #000;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .footerItem {
      float: right;
      min-width: 80px;
      margin-right: 20px;
      font-size: 13px;
      color: #e9e9e9;
      text-shadow: 2px 2px 2px #000;
    }

  </style>
</head>

<body>
  <div id="cesiumContainer"></div>
  <!-- <button type="button" class="btn btn-info" id="moni" style="position:absolute;top:20px;" onclick="SetMode('drawPloy')">面积</button>
  <button type="button" class="btn btn-info" style="position:absolute;top:20px;left: 95px;" onclick="SetMode('drawLine')">测量</button>
  <button type="button" class="btn btn-info" style="position:absolute;top:20px;left: 185px;" onclick="clearDrawingBoard()">清除</button> -->
  <button type="button" class="btn btn-info" style="position:absolute;top:20px;left: 185px;" onclick="testt()">
    test
  </button>
  <div class="footer">
    <div class="footerItem" id="heightDiv">高度：</div>
    <!-- <div class="footerItem" id="altitudeDiv">海拔：</div> -->
    <div class="footerItem" id="latitudeDiv">纬度：</div>
    <div class="footerItem" id="longitudeDiv">经度：</div>
  </div>
  <script>
    Cesium.Ion.defaultAccessToken =
      'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI5MjMyYjZiMC1lZmY1LTQzNmEtODg1NS01NmQzMmE2NWY2ZjMiLCJpZCI6NDQ1MSwic2NvcGVzIjpbImFzciIsImdjIl0sImlhdCI6MTU0MDg4NTM2Mn0.7OzWWlmUmJv_EJo0RFpuiL2G_KLgZBENAAXOgU1O1qM'

    var viewer = new Cesium.Viewer('cesiumContainer', {
      shouldAnimate: true,
      // geocoder: false, //搜索
      homeButton: false, //主页 地球回正
      sceneModePicker: false, //地球平铺 网格  3d/2d选择器
      baseLayerPicker: true,
      animation: true, //是否创建动画小器件，左下角仪表
      selectionIndicator: false,
      fullscreenButton: false,
      // infoBox: true,
      navigationHelpButton: false, //是否显示右上角的帮助按钮
      timeline: true
      // infoBox: false
      // baseLayerPicker: true //图层选择器
      // imageryProvider: new Cesium.WebMapTileServiceImageryProvider({
      //   // http://t0.tianditu.gov.cn/vec_w/wmts?tk=d4747908a3f86c33dcfa0d02d74106a6?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=vec&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILECOL=${col}&TILEROW=${row}&TILEMATRIX=${level}
      //   url: 'http://t0.tianditu.com/vec_w/wmts?service=wmts&request=GetTile&version=1.0.0&LAYER=vec&tileMatrixSet=w&TileMatrix={TileMatrix}&TileRow={TileRow}&TileCol={TileCol}&style=default&format=tiles&tk=d4747908a3f86c33dcfa0d02d74106a6',
      //   layer: 'tdtVecBasicLayer',
      //   style: 'default',
      //   format: 'image/jpeg',
      //   tileMatrixSetID: 'GoogleMapsCompatible',
      //   show: false
      // })
    })

    viewer.scene.globe.depthTestAgainstTerrain = false

    // viewer.imageryLayers.addImageryProvider(
    //   new Cesium.WebMapTileServiceImageryProvider({
    //     url: 'http://t0.tianditu.com/cva_w/wmts?service=wmts&request=GetTile&version=1.0.0&LAYER=cva&tileMatrixSet=w&TileMatrix={TileMatrix}&TileRow={TileRow}&TileCol={TileCol}&style=default.jpg&tk=d4747908a3f86c33dcfa0d02d74106a6',
    //     layer: 'tdtAnnoLayer',
    //     style: 'default',
    //     format: 'image/jpeg',
    //     tileMatrixSetID: 'GoogleMapsCompatible',
    //     show: true,
    //     maximumLevel: 18
    //   })
    // )

    // var layer = new Cesium.MapboxImageryProvider({
    //   mapId: 'mapbox.dark',
    //   accessToken:
    //     'pk.eyJ1Ijoia2FubWluZyIsImEiOiJjanhwdGhoaTkwbGJhM3BsZjVrbjhxeHV3In0.dDPzpxKYG4iN5Bs0J8ttIQ'
    // })

    var layer = new Cesium.MapboxStyleImageryProvider({
      // styleId: 'outdoors-v11',
      styleId: 'light-v10',
      accessToken: 'pk.eyJ1Ijoia2FubWluZyIsImEiOiJjanhwdGhoaTkwbGJhM3BsZjVrbjhxeHV3In0.dDPzpxKYG4iN5Bs0J8ttIQ'
    })

    viewer.imageryLayers.addImageryProvider(layer)

    // // Load Cesium World Terrain
    // viewer.terrainProvider = Cesium.createWorldTerrain({
    //   requestWaterMask: true, // required for water effects
    //   requestVertexNormals: true // required for terrain lighting
    // })
    // // Enable depth testing so things behind the terrain disappear.
    // viewer.scene.globe.depthTestAgainstTerrain = true

    // var tileset = viewer.scene.primitives.add(new Cesium.Cesium3DTileset({
    //   url: "http://202.114.148.160/pointCloudTo3dtiles/tileset.json",
    // }))
    // debugger

    // tileset.readyPromise.then(function () {
    //   tileset.readyPromise.then(function () {
    //   var longitude = 102.67706944444444;
    //   var latitude = 24.156576111111112;
    //   var height = 2675;
    //   var heading = 0;
    //   var position = Cesium.Cartesian3.fromDegrees(longitude, latitude, height);
    //   var mat = Cesium.Transforms.eastNorthUpToFixedFrame(position);
    //   var rotationX = Cesium.Matrix4.fromRotationTranslation(Cesium.Matrix3.fromRotationZ(Cesium.Math.toRadians(heading)));
    //   Cesium.Matrix4.multiply(mat, rotationX, mat);
    //   tileset._root.transform = mat;
    // })
    //   viewer.zoomTo(tileset, new Cesium.HeadingPitchRange(0.5, -0.2, tileset.boundingSphere.radius * 4.0));
    // });
    // var promise=Cesium.GeoJsonDataSource.load('居民地及设施点.json',{clampToGround: true});
    // function test() {
    //   var promise = Cesium.GeoJsonDataSource.load('http://202.114.148.160/ynjson/%E7%AE%A1%E7%BA%BF%E7%82%B9.json', {
    //     clampToGround: true
    //   });
    //   promise.then(function (dataSource) {
    //     var neighborhoodEntities = dataSource.entities.values;
    //     dataSource.color = Cesium.Color.fromRandom({
    //       alpha: 0.8
    //     })
    //     var color = Cesium.Color.fromRandom({
    //       alpha: 0.4
    //     })
    //     for (var i = 0; i < neighborhoodEntities.length; i++) {
    //       var entity = neighborhoodEntities[i];

    //       if (Cesium.defined(entity.polygon)) {

    //       }
    //       if (Cesium.defined(entity.polyline)) {
    //         entity.polyline.material = color
    //       }
    //       if (Cesium.defined(entity.point)) {}
    //     }
    //     viewer.dataSources.add(dataSource);
    //   })
    //   viewer.flyTo(promise);
    // }

    // test();

    // function testt() {
    //   viewer.dataSources.removeAll(true);
    //   test()
    // }

    function loadJsonLayer(viewer, jsondata) {
      // debugger
      var geojsonOptions = {
        clampToGround: true,
        fill: Cesium.Color.RED
      }

      var dataPromise = Cesium.GeoJsonDataSource.load(
        jsondata,
        geojsonOptions
      )

      dataPromise.then(function (dataSource) {
        viewer.dataSources.add(dataSource)
        var neighborhoodEntities = dataSource.entities.values

        var color = Cesium.Color.fromRandom({
          alpha: 0.9
        })
        for (var i = 0; i < neighborhoodEntities.length; i++) {
          var entity = neighborhoodEntities[i]

          if (Cesium.defined(entity.polygon)) {
            // entity.polygon.material = Cesium.Color.fromRandom({
            //   alpha: 0.1
            // });
            entity.polygon.material = new Cesium.Color(
              0.254,
              0.411,
              0.882,
              0.5
            )
            entity.polygon.extrudedHeight = entity.properties['louceng'] * 3
            entity.polygon.outline = false
            entity.polygon.outlineColor = new Cesium.Color(
              135 / 255,
              206 / 255,
              235 / 255,
              0.9
            )
            // entity.name = entity.properties['louceng']
            // debugger
            // entity.label = {
            //   text: entity.name,
            //   showBackground: true,
            //   scale: 0.6,
            //   horizontalOrigin: Cesium.HorizontalOrigin.CENTER,
            //   verticalOrigin: Cesium.VerticalOrigin.BOTTOM,
            //   // distanceDisplayCondition: new Cesium.DistanceDisplayCondition(
            //   //   10.0,
            //   //   9000
            //   // ),
            //   disableDepthTestDistance: 100.0
            // }
            var polyPositions = entity.polygon.hierarchy.getValue(
              Cesium.JulianDate.now()
            ).positions
            var polyCenter = Cesium.BoundingSphere.fromPoints(polyPositions)
              .center
            polyCenter = Cesium.Ellipsoid.WGS84.scaleToGeodeticSurface(
              polyCenter
            )

            entity.position = polyCenter
          }
          if (Cesium.defined(entity.polyline)) {
            entity.polyline.material = color
          }
          if (Cesium.defined(entity.point)) {
            entity.point.material = color
          }
          dataSource.show = true
          // callback(dataSource)
          // debugger
          // console.log(viewer)
        }
      })
      return dataPromise
    }

    var layer = loadJsonLayer(
      viewer,
      '../../assets/geojson/json_水岸星城/建筑_水岸星城.json'
    )
    // loadJsonLayer(viewer, "http://202.114.148.160/ynjson/%E6%A4%8D%E8%A2%AB%E4%B8%8E%E5%9C%9F%E8%B4%A8%E7%82%B9.json");
    // loadJsonLayer(viewer, "http://202.114.148.160/ynjson/%E6%B0%B4%E7%B3%BB%E7%82%B9.json");
    // loadJsonLayer(viewer, "http://202.114.148.160/ynjson/%E7%AE%A1%E7%BA%BF%E7%82%B9.json");

    // 缩放到jsonLayer
    function FlyToJsonLayer(jsonData, viewer) {
      viewer.flyTo(jsonData)
    }
    FlyToJsonLayer(layer, viewer)

    function computeEmitterModelMatrix() {
      //HeadingPitchRoll(z,y,x)一个旋转
      //Cesium.HeadingPitchRoll.fromDegrees(z, y, x, 结果格式)将给定的角度转换为旋转实例
      hpr = Cesium.HeadingPitchRoll.fromDegrees(
        0.0,
        0.0,
        0.0,
        new Cesium.HeadingPitchRoll()
      )
      //new Cesium.TranslationRotationScale(translation, 旋转, 三方向缩放)生成新的仿射变换
      var trs = new Cesium.TranslationRotationScale()
      //Cesium.Cartesian3.fromElements(x, y, z, result)；三维坐标转三维向量
      trs.translation = Cesium.Cartesian3.fromElements(
        2.5,
        4.0,
        1.0,
        new Cesium.Cartesian3()
      )
      //Cesium.Quaternion.fromHeadingPitchRoll(headingPitchRoll, result) 将旋转转化为四元数
      trs.rotation = Cesium.Quaternion.fromHeadingPitchRoll(
        hpr,
        new Cesium.Quaternion()
      )
      //将仿生变换转换为四阶矩阵
      return Cesium.Matrix4.fromTranslationRotationScale(
        trs,
        new Cesium.Matrix4()
      )
    }

    // viewer.scene.primitives.add(
    //   new Cesium.ParticleSystem({
    //     // image: '../../assets/cesium_images/fire.png',
    //     image: 'https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=ab436e58aeec08fa390015a769ef3d4d/b17eca8065380cd7cd63680aaf44ad34588281dc.jpg',
    //     imageSize: new Cesium.Cartesian2(20, 20),
    //     startScale: 1.0,
    //     endScale: 4.0,
    //     // Particle behavior
    //     particleLife: 1.0,
    //     speed: 1,
    //     emissionRate: 50,
    //     lifetime: 0.1,
    //     modelMatrix: Cesium.Transforms.eastNorthUpToFixedFrame(
    //       Cesium.Cartesian3.fromDegrees(114.339, 30.57883, 3)
    //     ),
    //     mass: 10,
    //     emitter: new Cesium.ConeEmitter(Cesium.Math.toRadians(30.0))
    //   })
    // )

    // console.log(viewer.scene.primitives)
    // var particleSystem = viewer.scene.primitives.add(
    //   new Cesium.ParticleSystem({
    //     image: '../../assets/cesium_images/fire.png',
    //     // loop: true,
    //     // image: '../../assets/cesium_images/smoke.png',
    //     // imageSize: new Cesium.Cartesian2(50, 50),
    //     // // startColor: Cesium.Color.RED.withAlpha(0.7),
    //     // // endColor: Cesium.Color.YELLOW.withAlpha(0.3),
    //     // // particleLife: life,
    //     // startScale: 1,
    //     // endScale: 2,
    //     // Speed: 10.0,
    //     // // emitter: new Cesium.SphereEmitter(0.1),
    //     // // emissionRate: 0,
    //     // // bursts: [
    //     // //   // these burst will occasionally sync to create a multicolored effect
    //     // //   new Cesium.ParticleBurst({ time: 0.0, minimum: 0, maximum: 1 })
    //     // //   // new Cesium.ParticleBurst({ time: 1.0, minimum: 0, maximum: 1 }),
    //     // //   // new Cesium.ParticleBurst({ time: 2.0, minimum: 0, maximum: 1 })
    //     // // ],
    //     imageSize: new Cesium.Cartesian2(20, 20),
    //     startScale: 1.0,
    //     endScale: 4.0,
    //     // Particle behavior
    //     particleLife: 1.0,
    //     speed: 1,
    //     // Emitter parameters
    //     emitter: new Cesium.CircleEmitter(1),
    //     // emitterModelMatrix: computeEmitterModelMatrix(),
    //     emissionRate: 50,
    //     // bursts: [
    //     //   new Cesium.ParticleBurst({ time: 5.0, minimum: 300, maximum: 500 }),
    //     //   new Cesium.ParticleBurst({ time: 10.0, minimum: 50, maximum: 100 }),
    //     //   new Cesium.ParticleBurst({ time: 15.0, minimum: 200, maximum: 300 })
    //     // ],
    //     // emitterModelMatrix : computeEmitterModelMatrix(),
    //     // // Particle system parameters
    //     // modelMatrix : computeModelMatrix(),
    //     lifetime: 0.1,
    //     modelMatrix: Cesium.Transforms.eastNorthUpToFixedFrame(
    //       Cesium.Cartesian3.fromDegrees(114.339, 30.57883, 3)
    //     ),
    //     mass: 10,
    //     // emissionRate: 50.0,
    //     emitter: new Cesium.ConeEmitter(Cesium.Math.toRadians(30.0))
    //     // lifetime: 1.0
    //     // emitterInitialLocation: new Cesium.Cartesian3(0.0, 0.0, 100.0)
    //     // emitter: new Cesium.CircleEmitter(2.0)
    //     // emitterModelMatrix: Cesium.Matrix4.fromTranslationRotationScale(trs, emitterModelMatrix)
    //   })
    // )
    // viewer.scene.primitives.add(particleSystem)

    function addEntity(postion, text) {
      viewer.entities.add({
        position: postion,
        label: {
          text: text,
          // font: parseInt(objEntity.FontSize) * 2.2 + 'px ' + objEntity.FontName,
          style: Cesium.LabelStyle.FILL_AND_OUTLINE,
          outlineWidth: 6,
          translucencyByDistance: new Cesium.NearFarScalar(
            1.5e2,
            1.0,
            1.5e5,
            0.0
          ),
          horizontalOrigin: Cesium.HorizontalOrigin.LEFT,
          //verticalOrigin : LSGlobe.VerticalOrigin.BOTTOM, //垂直方向以底部来计算标签的位置
          pixelOffset: new Cesium.Cartesian2(15, -2), //偏移量
          disableDepthTestDistance: 1000000000, //优先级
          scale: 0.5
        },
        billboard: {
          image: '../../assets/cesium_images/80s.png', // default: undefined
          text: '123',
          show: true, // default
          width: 50,
          height: 50,
          disableDepthTestDistance: 1000000000,
          scale: 0.5,
          translucencyByDistance: new Cesium.NearFarScalar(
            1.5e2,
            0.5,
            1.5e5,
            0.0
          )
        }
      })
    }

    // addEntity(
    //   Cesium.Cartesian3.fromDegrees(114.337397, 30.579546, 60),
    //   '王三'
    // )
    // addEntity(
    //   Cesium.Cartesian3.fromDegrees(114.337842, 30.576083, 10),
    //   '李四'
    // )
    // addEntity(Cesium.Cartesian3.fromDegrees(114.340062, 30.576887, 5), '王五')
    // addEntity(
    //   Cesium.Cartesian3.fromDegrees(114.339373, 30.580702, 80),
    //   '张三'
    // )
    // addEntity(
    //   Cesium.Cartesian3.fromDegrees(114.336371, 30.577586, 10),
    //   '赵八'
    // )
    // debugger
    // var expected = new HeadingPitchRoll(0.5, 0.6, 0.7);
    // var tileset = new Cesium.Cesium3DTileset({
    //   url: 'http://202.114.148.160/sogbTo3dtiles/DongJiaCun/tileset.json',
    //   // modelMatrix: Cesium.Matrix4.fromTranslationQuaternionRotationScale(new Cesium.Cartesian3(1.0, 1.0, 1.0),
    //   //   Cesium
    //   //   .Quaternion.IDENTITY,
    //   //   new Cesium.Cartesian3(1.0, 1., 1.))
    // });

    // tileset.readyPromise.then(function (tileset) {
    //   viewer.scene.primitives.add(tileset);

    //   var s = Cesium.Matrix4.multiplyByUniformScale(tileset.root.transform, 5, tileset.root.transform)
    //   tileset.root.transform = s
    //   // tileset.root.transform = Cesium.Matrix4.multiplyByUniformScale(tileset.root.transform, 2)
    //   console.log(s)
    //   viewer.zoomTo(tileset, new Cesium.HeadingPitchRange(0.0, -0.5, tileset.boundingSphere.radius * 2.0));
    // }).otherwise(function (error) {
    //   console.log(error);
    // });

    // var tileset = viewer.scene.primitives.add(new Cesium.Cesium3DTileset({
    //   url: 'http://202.114.148.160/sogbTo3dtiles/DongJiaCun/tileset.json',
    //   skipLevelOfDetail: true,
    //   baseScreenSpaceError: 1024,
    //   skipScreenSpaceErrorFactor: 16,
    //   skipLevels: 1,
    //   immediatelyLoadDesiredLevelOfDetail: false,
    //   loadSiblings: false,
    //   cullWithChildrenBounds: true
    // }));

    // viewer.flyTo(
    //   tileset,
    //   new Cesium.HeadingPitchRange(0.5, -0.2, tileset.boundingSphere.radius * 4.0)
    // );

  </script>
</body>

</html>
